<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="GET" id="">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button></button>
</form>


</body>
</html>